* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

/**Comienza HEADER-NAV-FOOTER**/
header {
  background-color: black;
  background-image: linear-gradient(to bottom, #a655bd 2%, #460258 10%, black 50%, #460258 90%, #a655bd 99%);
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 2px 2px 6px 2px #a655bd; }

.header__menu {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.imgLogo {
  width: 200px;
  padding: 2px;
  border: 2px solid #460258;
  border-radius: 10px; }

.header__redes a {
  color: white;
  margin: 20px;
  text-align: left;
  font-size: 2rem; }

.header__redes a:hover {
  color: #ce6be9;
  transition: 0.2s;
  border-radius: 10px;
  border-color: #a655bd;
  font-size: 2rem; }

.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

.nav ul li a {
  color: white;
  font-weight: bold;
  margin: 20px;
  font-size: 2rem; }

.nav ul li ul {
  display: none;
  position: absolute;
  min-width: 300px;
  background-color: black;
  margin: 10px; }

.nav ul li ul a {
  display: block;
  padding: 5px;
  margin: 10px; }

.nav li:hover > ul {
  display: block;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #a655bd 2%, #460258 10%, black 50%, #460258 90%, #a655bd 99%);
  box-shadow: 2px 2px 5px 5px #a655bd; }

.nav li a:hover {
  background-color: #a655bd;
  padding: 6px;
  transition: 0.2s;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 3px #a655bd; }

.footer {
  background-color: black;
  background-image: linear-gradient(to top, #460258 40%, black 80%);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer p {
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem; }
  .footer a {
    color: white;
    font-size: 1.5rem; }
  .footer .martin {
    margin: 4px;
    font-size: 1.8rem; }

.footer__div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px; }

.footer div ul {
  margin: 0 20px 0 20px; }

.footer__mapa__img {
  width: 250px;
  height: 120px;
  border-radius: 15px; }

.footer__redes a {
  display: flex;
  flex-direction: column;
  padding: 8px; }

.footer a:hover {
  color: #ce6be9;
  transition: 0.2s; }

/**Fin HEADER-NAV-FOOTER**/
/**EXTENDS**/
.boxshadow, .index__clientes h2, .index__box__clientes {
  box-shadow: 2px 2px 6px 2px #a655bd; }

.gradiente, .index__clientes h2, .img__clientes {
  background-image: linear-gradient(to bottom, #a655bd 2%, #460258 10%, black 50%, #460258 90%, #a655bd 99%); }

/**Comienza INDEX**/
.contenedor__index {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.contenedor2 {
  width: 100%;
  background-color: #460258;
  background-image: url(../images/index/fondo2.jpg);
  background-repeat: repeat;
  background-blend-mode: overlay; }

header {
  grid-area: header; }

.div__parallax {
  grid-area: div; }

section {
  grid-area: section; }

aside {
  grid-area: aside; }

footer {
  grid-area: footer; }

.div__multimedia {
  grid-area: div; }

.div__clientes {
  grid-area: clientes; }

.index__parallax {
  background-image: url(../images/index/1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin: 80px 20px 20px 20px;
  padding: 150px;
  height: 150px; }

.index__parrafoParallax {
  color: white;
  font-size: 4rem;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 2px #380247; }

.index__section {
  width: 100%; }

.index__servicios__titulo {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  margin: 20px 0 20px 0;
  padding: 10px;
  text-shadow: 4px 4px 8px black;
  background-image: radial-gradient(black 1%, #380247 10%, #ce6be9);
  box-shadow: 1px 1px 4px 10px #ce6be9; }

.index__servicios {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  transition: all 1s ease; }

#two:checked ~ .index__servicios #mediaProdu {
  display: none; }

#two:checked ~ .index__servicios #mediaBeat {
  display: none; }

#two:checked ~ .index__servicios #mediaMezcla {
  display: none; }

#two:checked ~ .index__servicios #mediaPista {
  display: none; }

.index__servicios__box {
  justify-content: space-evenly;
  width: 200px;
  height: 400px;
  border: inset 3px black;
  overflow: hidden;
  border-radius: 13px;
  box-shadow: 1px 1px 10px  5px #ce6be9;
  padding: 10px;
  text-align: center;
  background-color: black;
  margin: 10px; }

.index__servicios__h2 {
  text-transform: uppercase;
  background-image: linear-gradient(45deg, black 10%, #460258 60%, #ce6be9);
  border-radius: 13px;
  color: white;
  text-shadow: 1px 3px 4px black;
  font-style: italic;
  padding: 8px;
  margin: 0 0 20px 0;
  font-size: 2rem; }

.index__servicios__img {
  width: 100%;
  height: 150px;
  border-radius: 13px;
  filter: grayscale(100%); }

.index__servicios p {
  padding: 15px;
  color: white;
  font-size: 1.6rem; }

.index__servicios__boton {
  color: white;
  border-radius: 13px;
  border: none;
  box-shadow: linear-gradient(2px 2px 2px #ce6be9);
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to right, black, #460258 20%, #ce6be9);
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 3px 4px black; }

.index__servicios__boton:hover {
  color: black;
  background-image: linear-gradient(to right, black, white 20%);
  transition: 0.2s;
  text-shadow: 1px 3px 4px #743d83; }

.botonSlider {
  display: flex;
  margin: 20px;
  justify-content: center; }

.botonSlider label {
  height: 30px;
  width: 60px;
  background: white;
  margin: 0 4px;
  border-radius: 20px;
  border: 1px solid white;
  transition: all 0.5s ease; }
  .botonSlider label:hover {
    background: #a655bd; }

.botonSlider label.active {
  width: 35px; }

#one:checked ~ .botonSlider label.one {
  width: 35px; }

#one:checked ~ .botonSlider label.two {
  width: 15px; }

#two:checked ~ .botonSlider label.two {
  width: 35px; }

#two:checked ~ .botonSlider label.one {
  width: 15px; }

#masServicios {
  display: none; }

#one:checked ~ .index__servicios #mediaCompo {
  display: none; }

#one:checked ~ .index__servicios #mediaRestaura {
  display: none; }

#one:checked ~ .index__servicios #mediaTrans {
  display: none; }

#one:checked ~ .index__servicios #mediaMIDI {
  display: none; }

.btn__radio {
  display: none; }

.masServicios {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  transition: 0.5s; }
  .masServicios:hover {
    text-shadow: 2px 2px black; }

.index__clientes {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .index__clientes h2 {
    width: 100%;
    color: white;
    font-size: 3rem;
    text-align: center;
    background-color: black;
    padding: 20px;
    text-shadow: 2px 2px 4px #460258; }

.div__clientes {
  margin: 20px;
  justify-content: space-evenly; }

.index__box__clientes {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: #380247;
  width: 200px;
  height: 380px;
  background-image: linear-gradient(45deg, #a655bd 2%, #460258 10%, black 50%, #460258 90%, #a655bd 99%);
  align-items: center;
  overflow: hidden; }
  .index__box__clientes h3 {
    width: 100%;
    margin: 10px;
    color: white;
    font-size: 1.6rem;
    align-items: center;
    text-align: center;
    background-color: #460258;
    padding: 15px; }
  .index__box__clientes p {
    margin: 10px;
    color: white;
    font-size: 1.4rem;
    align-items: center;
    text-align: justify;
    overflow: hidden; }

.img__clientes {
  margin: 10px;
  border-radius: 50%;
  width: 80%;
  height: 45%;
  padding: 4px; }

.aside {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/index/bio__index2C.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }
  .aside p {
    color: white;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 100px 15px 15px 15px;
    text-align: left;
    text-shadow: 2px 2px 2px #380247; }

.aside__boton {
  display: inline;
  width: 20%;
  margin: 10px;
  padding: 10px;
  border-radius: 13px;
  border: solid 1px black;
  background-image: linear-gradient(to right, black, #460258 20%, #ce6be9);
  font-size: 2rem;
  font-weight: bold;
  font-style: italic; }

.aside a input {
  color: white; }

.aside a input:hover {
  background-image: linear-gradient(to right, black, white 20%);
  color: black;
  transition: 0.2s;
  text-shadow: 5px 1px 10px #743d83; }

.aside h2 {
  margin: 0; }

/**Final INDEX**/
/**Comienza SERVICIOS**/
.contenedor__servicios {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.servicios__section {
  display: flex;
  flex-direction: column; }

.tituloPagina {
  display: block;
  font-size: 3rem;
  color: white;
  margin: 80px 0 0 0;
  text-align: center; }

.servicios__lista {
  height: 100%;
  background-color: #380247;
  justify-content: center; }
  .servicios__lista ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem; }

.listaLi li > a {
  color: white;
  position: relative; }

.listaLi li > a:hover {
  text-shadow: 1px 3px 7px #ce6be9;
  transition: 0.2s; }

.servicios__divImg {
  height: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center; }

.servicios__produccion__texto {
  font-size: 2rem;
  margin: 20px;
  width: 100%;
  color: white; }
  .servicios__produccion__texto ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .servicios__produccion__texto li {
    text-align: justify;
    font-size: 1.5rem; }

.serviciosH2 {
  margin: auto;
  width: 95%;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  text-shadow: 3px 3px 2px black;
  background-image: linear-gradient(to right, black 5%, #460258, #ce6be9 50%, #460258, black);
  padding: 10px;
  border-radius: 5px; }

.serviciosParrafo {
  margin: 10px; }

.servicios__divBoton {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.servicios__texto__boton {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 2px 1px black;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.938) 2%, #460258 40%, #ce6be9);
  display: inline;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px; }

.servicios__texto__boton:hover {
  background-image: linear-gradient(to right, black 2%, white);
  color: black;
  text-shadow: 2px 2px 4px white;
  transition: 0.2s; }

/**MAPS**/
.btn-color1 {
  background-color: violet; }

.btn-color2 {
  background-color: black; }

.btn-color3 {
  background-color: white; }

/**EXTEND**/
.extend, .servicios__produccion, .servicios__beatmaker {
  background-color: black;
  margin-top: 50px;
  display: flex; }

.servicios__produccion {
  flex-direction: row; }

.servicios__beatmaker {
  flex-direction: row-reverse; }

/**MIXIN**/
.servicios__img {
  border-radius: 10px;
  height: 250px; }

.flexrow, .div__clientes, .div_videoBio {
  width: 100%;
  display: flex;
  flex-direction: row; }

.flexcol, .index__section, .index__servicios__box, .servicios__divImg, .servicios__produccion__texto {
  display: flex;
  flex-direction: column; }

/**Fin SERVICIOS**/
/**Comienza MULTIMEDIA**/
.contenedor__multimedia {
  display: flex;
  flex-direction: column; }

.section__multimedia {
  width: 100%; }

.index__multimedia__titulo {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  margin: 76px 0 15px 0;
  padding: 10px;
  text-shadow: 4px 4px 8px black;
  background-image: radial-gradient(black 1%, #380247 10%, #ce6be9);
  box-shadow: 1px 1px 4px 10px #ce6be9; }

.listaMultimedia {
  width: 100%;
  height: 40px;
  background-color: #380247;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .listaMultimedia a {
    font-size: 1.5rem;
    color: white; }
    .listaMultimedia a:hover {
      text-shadow: 2px 2px 4px white; }

.multimedia__produccion {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .multimedia__produccion h2 {
    font-size: 3rem;
    color: white;
    margin: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #ce6be9;
    background-image: linear-gradient(black, #460258, black);
    box-shadow: 2px 2px 2px black;
    margin-top: 25px; }

.boxesProduccion {
  height: 100%;
  display: flex;
  flex-grow: row nowrap;
  justify-content: space-evenly;
  background-color: black; }

.multimedia__boxProduccion, .multimedia__boxProduccion1, .multimedia__boxProduccion2, .multimedia__boxProduccion3, .multimedia__boxProduccion4, .multimedia__boxbeat1, .multimedia__boxbeat2, .multimedia__boxbeat3, .multimedia__boxMezcla1, .multimedia__boxMezcla2, .multimedia__boxMezcla3, .multimedia__boxPista1, .multimedia__boxPista2, .multimedia__boxPista3, .multimedia__boxCompo1, .multimedia__boxCompo2, .multimedia__boxCompo3, .multimedia__boxParte1, .multimedia__boxParte2, .multimedia__boxParte3 {
  height: 100%;
  width: 300px;
  margin: 20px;
  overflow: hidden;
  background-color: black;
  border-radius: 15px;
  box-shadow: 1px 1px 10px  5px #ce6be9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../../images/index/servicio_prod.jpg);
  background-size: cover; }
  .multimedia__boxProduccion ul, .multimedia__boxProduccion1 ul, .multimedia__boxProduccion2 ul, .multimedia__boxProduccion3 ul, .multimedia__boxProduccion4 ul, .multimedia__boxbeat1 ul, .multimedia__boxbeat2 ul, .multimedia__boxbeat3 ul, .multimedia__boxMezcla1 ul, .multimedia__boxMezcla2 ul, .multimedia__boxMezcla3 ul, .multimedia__boxPista1 ul, .multimedia__boxPista2 ul, .multimedia__boxPista3 ul, .multimedia__boxCompo1 ul, .multimedia__boxCompo2 ul, .multimedia__boxCompo3 ul, .multimedia__boxParte1 ul, .multimedia__boxParte2 ul, .multimedia__boxParte3 ul {
    width: 100%;
    margin: 10px; }
    .multimedia__boxProduccion ul li, .multimedia__boxProduccion1 ul li, .multimedia__boxProduccion2 ul li, .multimedia__boxProduccion3 ul li, .multimedia__boxProduccion4 ul li, .multimedia__boxbeat1 ul li, .multimedia__boxbeat2 ul li, .multimedia__boxbeat3 ul li, .multimedia__boxMezcla1 ul li, .multimedia__boxMezcla2 ul li, .multimedia__boxMezcla3 ul li, .multimedia__boxPista1 ul li, .multimedia__boxPista2 ul li, .multimedia__boxPista3 ul li, .multimedia__boxCompo1 ul li, .multimedia__boxCompo2 ul li, .multimedia__boxCompo3 ul li, .multimedia__boxParte1 ul li, .multimedia__boxParte2 ul li, .multimedia__boxParte3 ul li {
      width: 100%;
      color: white;
      font-size: 2rem;
      text-align: justify;
      margin: 5px;
      text-shadow: 1px 1px 0.5px black;
      text-align: center;
      text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; }

.multimedia__boxProduccion1 {
  background-image: url(../images/index/arrebato.jpg); }

.multimedia__boxProduccion2 {
  background-image: url(../images/index/monstruos.bmp); }

.multimedia__boxProduccion3 {
  background-image: url(../images/index/bela.jpg); }

.multimedia__boxProduccion4 {
  background-image: url(../images/index/sol.jpg); }

.multimedia__boxbeat1 {
  background-image: url(../images/index/servicios_midi.jpg);
  filter: grayscale(1); }

.multimedia__boxbeat2 {
  background-image: url(../images/index/flor.jpg); }

.multimedia__boxbeat3 {
  background-image: url(../images/index/arrebato.jpg); }

.multimedia__boxMezcla1 {
  background-image: url(../images/index/trova.jfif); }

.multimedia__boxMezcla2 {
  background-image: url(../images/index/arza.jfif); }

.multimedia__boxMezcla3 {
  background-image: url(../images/index/vander2.jpg); }

.multimedia__boxPista1 {
  background-image: url(../images/index/school.jpg); }

.multimedia__boxPista2 {
  background-image: url(../images/index/fun.jpg); }

.multimedia__boxPista3 {
  background-image: url(../images/index/jorobado.png); }

.multimedia__boxCompo1 {
  background-image: url(../images/index/monstruos.bmp); }

.multimedia__boxCompo2 {
  background-image: url(../images/index/arrebato.jpg); }

.multimedia__boxCompo3 {
  background-image: url(../images/index/arrebato.jpg); }

.multimedia__boxParte1 {
  background-image: url(../images/index/CantarParte.png);
  height: 200px;
  background-size: cover; }
  .multimedia__boxParte1:hover {
    width: 50%;
    height: 400px;
    background-attachment: scroll;
    transition: 0.3s; }
    .multimedia__boxParte1:hover ul li {
      display: none; }

.multimedia__boxParte2 {
  background-image: url(../images/index/feParte.png);
  height: 200px;
  background-size: cover; }
  .multimedia__boxParte2:hover {
    width: 50%;
    height: 400px;
    background-attachment: scroll;
    transition: 0.3s; }
    .multimedia__boxParte2:hover ul li {
      display: none; }

.multimedia__boxParte3 {
  background-image: url(../images/index/VocacionParte.png);
  height: 200px;
  background-size: cover; }
  .multimedia__boxParte3:hover {
    width: 50%;
    height: 400px;
    background-attachment: scroll;
    transition: all 0.3s; }
    .multimedia__boxParte3:hover ul li {
      display: none; }

.imgBoxMultimedia {
  margin-top: 20px;
  border-radius: 15px; }

.audioControls {
  width: 90%;
  margin: 10px; }

.cosas {
  margin-top: 50px; }

/**Fin MULTIMEDIA**/
/**Comienza BIOGRAFIA**/
/**EXTENDS**/
.textoBio, .contenedor__biografia h4, .pBio, .bio__premios li {
  color: white;
  font-size: 2rem;
  margin: 20px;
  text-align: justify;
  text-shadow: 2px 2px 2px black; }

.contenedor__biografia {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .contenedor__biografia h4 {
    text-decoration: underline;
    text-align: center; }

.contenedor__biografia iframe {
  margin: 10px; }

.biografia__texto {
  color: white;
  font-size: 2rem;
  margin: 20px;
  text-align: justify; }

.div__multimedia0 {
  display: flex;
  flex-direction: row;
  height: 400px; }
  .div__multimedia0 img {
    width: 30%;
    border-radius: 15px;
    padding: 5px;
    backdrop-filter: blur(10px); }
  .div__multimedia0 iframe {
    border-radius: 15px; }

.div__multimedia1 {
  display: flex;
  flex-direction: row;
  height: 400px; }
  .div__multimedia1 img {
    width: 30%;
    border-radius: 15px;
    padding: 5px;
    backdrop-filter: blur(10px); }
  .div__multimedia1 iframe {
    border-radius: 15px; }

.div_videoBio {
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: center; }

.videoBio {
  border-radius: 15px; }

.div__multimedia2 {
  display: flex;
  flex-direction: row; }
  .div__multimedia2 img {
    width: 40%;
    border-radius: 15px;
    padding: 5px;
    backdrop-filter: blur(10px); }

.bio__premios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .bio__premios li {
    font-size: 2rem;
    text-align: center; }

/**Fin BIOGRAFIA**/
/**Comienza CONTACTO**/
.contenedor__contacto {
  height: 100vh;
  background-color: #460258;
  background-image: url(../images/index/fondo2.jpg);
  background-repeat: repeat;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column; }

.section__formulario {
  width: 100%;
  display: flex;
  flex-direction: column; }

.section__formulario p {
  color: white;
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
  background-color: #380247;
  padding: 10px;
  position: relative;
  text-shadow: 3px 3px 0 black; }

.fieldset {
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
  border: none;
  box-shadow: 2px 2px 8px 8px #ce6be9;
  color: white;
  background-image: linear-gradient(45deg, #460258, black); }

.legend__formulario {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: solid;
  text-shadow: 3px 3px 3px #460258; }

.div__formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left; }

.div__formulario label {
  font-size: 1.8rem;
  padding: 5px;
  display: block; }

.div__formulario input {
  background-color: white;
  padding: 5px;
  font-size: 1.5rem;
  color: black;
  border-radius: 10px; }

.formulario__sexo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  font-size: 1.2rem; }
  .formulario__sexo input {
    margin: 5px; }

.select {
  background-color: white;
  font-size: 1.5rem;
  color: black;
  padding: 5px;
  border-radius: 10px; }

.consulta__textarea {
  margin-top: 20px;
  height: 100px;
  background-color: white;
  color: black;
  border-radius: 10px; }

.consulta__botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .consulta__botones input {
    background-color: #a655bd;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-transform: uppercase; }
    .consulta__botones input:hover {
      background-color: white;
      color: black;
      transition: 0.5s;
      text-shadow: 1px 1px 2px black; }

/**Fin CONTACTO**/
/**Comienza ASISTENCIA-PREGUNTAS**/
.contenedor__asistencia {
  display: grid;
  grid-template-areas: "header header header" "section section section" "footer footer footer"; }

.asistencia__frecuentes {
  margin: 15px;
  font-size: 3rem;
  color: white;
  text-align: center; }

.asistencia__div {
  height: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  font-size: 1.7rem;
  background-color: black; }
  .asistencia__div a {
    color: white;
    font-size: 1.5rem; }

.asistencia__div h3 {
  background-color: #791a94;
  padding: 5px;
  border-radius: 10px; }

.asistencia__metodos {
  margin: 15px;
  font-size: 3rem;
  color: white;
  text-align: center; }

.asistencia__metodos ul {
  padding: 5px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.7rem;
  text-align: left; }

.asistencia__politicas {
  margin: 15px;
  font-size: 3rem;
  color: white;
  text-align: center; }

.asistencia__politicas p {
  padding: 5px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.7rem;
  text-align: left; }

/**Fin ASISTENCIA-PREGUNTAS**/
@media (max-width: 368px) {
  html {
    font-size: 50%; }
  .contenedor2 {
    width: 100%; }
  /**PRINCIPIO INDEX MEDIAS QUERIES**/
  .contenedor-_index {
    width: 100%; }
  .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .header__menu ul {
      justify-content: center; }
  .header__redes {
    display: none; }
  .div__parallax {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    background-image: url(../../images/index/1.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center; }
  .index__parallax {
    background-image: none; }
  .index__parrafoParallax {
    font-size: 2.5rem;
    width: 80%;
    padding: 5px; }
  .index__section {
    background-color: none; }
  .btn__radio {
    display: none; }
  label {
    display: none; }
  .index__servicios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .index__servicios .index__servicios__box p {
      font-size: 2rem; }
  .masServicios {
    display: none; }
  #mediaCompo {
    display: none; }
  #mediaRestaura {
    display: none; }
  #mediaTrans {
    display: none; }
  #mediaMIDI {
    display: none; }
  #masServicios {
    display: flex;
    margin-top: 20px;
    width: 100%; }
  .div__clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .index__box__clientes {
    margin-top: 20px; }
    .index__box__clientes h3 {
      font-size: 2.5rem; }
    .index__box__clientes p {
      font-size: 1.7rem; }
  .aside {
    display: none; }
  .footer__mapa__img {
    display: none; }
  /**FIN INDEX MEDIAS QUERIES**/
  /**PRINCIPIO SERVICIOS MEDIAS QUERIES**/
  .tituloPagina {
    margin-top: 100px; }
  .header__padre {
    width: 368px; }
  .nav ul {
    display: flex;
    flex-direction: column; }
  .contenedor__servicios {
    width: 100%; }
  .header__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .header__menu ul {
      justify-content: center; }
  .header__redes {
    display: none; }
  .servicios__lista {
    width: 100%; }
    .servicios__lista ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start; }
      .servicios__lista ul a {
        font-size: 1.8rem; }
  .servicios__produccion {
    display: flex;
    flex-direction: column; }
    .servicios__produccion .servicios__img {
      display: none; }
  .servicios__beatmaker {
    display: flex;
    flex-direction: column; }
  #part {
    display: none; }
  /**FIN SERVICIOS MEDIAS QUERIES**/
  /**PRINCIPIO MULTIMEDIA MEDIAS QUERIES**/
  .section__multimedia {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .section__multimedia .listaMultimedia {
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .section__multimedia .listaMultimedia ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 10px; }
        .section__multimedia .listaMultimedia ul a {
          font-size: 1.8rem; }
  .boxesProduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /**FIN MULTIMEDIA MEDIAS QUERIES**/
  /**PRINCIPIO BIOGRAFIA MEDIAS QUERIES**/
  .contenedor__biografia {
    display: flex;
    flex-direction: column; }
  .div__multimedia0 {
    display: flex;
    flex-direction: column;
    margin-bottom: 310px; }
    .div__multimedia0 img {
      width: 100%; }
    .div__multimedia0 iframe {
      width: 100%; }
  .div__multimedia1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 110px; }
    .div__multimedia1 img {
      width: 100%; }
    .div__multimedia1 iframe {
      width: 100%; }
  .div__multimedia2 {
    display: flex;
    flex-direction: column; }
    .div__multimedia2 img {
      width: 100%; }
  .div_videoBio {
    display: none; } }
