/**Comienza SERVICIOS**/


.contenedor__servicios{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.servicios__section{
    display: flex;
    flex-direction: column;
}

.tituloPagina{
    display: block;
    font-size: 3rem;
    color: white;
    margin: 80px 0 0 0;
    text-align: center;
}

.servicios__lista {
    height: 100%;
    background-color: #380247;
    justify-content: center;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;     
        padding: 10px;
        font-size: 1.5rem;

    }

    }

.listaLi li>a{
    color: white;
    position: relative;
}

.listaLi li>a:hover{
    text-shadow: 1px 3px 7px #ce6be9;
    transition: 0.2s;
    
    
}

.servicios__divImg{
    height: 100%;
    padding: 15px;
    @extend .flexcol;
    justify-content: center;
    align-items: center;
}


.servicios__produccion__texto{
    font-size: 2rem;
    margin: 20px;
    width: 100%;
    @extend .flexcol;
    color: white;


        ul{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        li{
            text-align: justify;
            font-size: 1.5rem;
            
        }
}

.serviciosH2{
    margin: auto;
    width: 95%;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    text-shadow: 3px 3px 2px black;
    background-image: linear-gradient(to right, black 5%,#460258 , #ce6be9 50%,#460258 , black );
    padding: 10px;  
    border-radius: 5px;    
}

.serviciosParrafo{
    margin: 10px;

}


.servicios__divBoton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.servicios__texto__boton{
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 2px 1px black;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.938) 2%,#460258 40% , #ce6be9 );
    display: inline;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    
}

.servicios__texto__boton:hover{
    background-image: linear-gradient(to right,black 2%, white) ;
    color: black;
    text-shadow: 2px 2px 4px white;
    transition: 0.2s;
}



/**MAPS**/

$colores:("color1":violet,"color2":black,"color3":white);
    @each $nombre, $color in $colores{
        .btn-#{$nombre}{
            background-color: $color;
        }
}

/**EXTEND**/

.extend{
    background-color: black;
    margin-top: 50px;
    display: flex;
}

.servicios__produccion{
    @extend .extend;
    flex-direction: row;
}


.servicios__beatmaker{
    @extend .extend;
    flex-direction: row-reverse;
}

/**MIXIN**/
@mixin formatter($borde,$alto){
    border-radius: $borde;
    height: $alto;
}

.servicios__img{
    @include formatter(10px, 250px);
}

.flexrow{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flexcol{
    display: flex;
    flex-direction: column;
}
/**Fin SERVICIOS**/


