
/**Comienza MULTIMEDIA**/

.contenedor__multimedia{
    display: flex;
    flex-direction: column;
    
}

.section__multimedia{
    width: 100%;
}
.index__multimedia__titulo{
    display: block;
    text-align: center;
    text-transform: uppercase;

    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    margin: 76px 0 15px 0; 
    padding: 10px;
    text-shadow: 4px 4px 8px black;

    background-image: radial-gradient(black 1%,#380247 10%,#ce6be9);
    box-shadow: 1px 1px 4px 10px #ce6be9;

}


.listaMultimedia{
    width: 100%;
    height: 40px;
    background-color: #380247;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    a{
        font-size: 1.5rem;
        color: white;
        &:hover{
            text-shadow: 2px 2px 4px white;
        }
    }
}

.multimedia__produccion{
    height: 100%;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 3rem;
        color: white;
        margin: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 5px;
        padding: 10px;  
        border-radius: 5px; 
        text-shadow: 2px 2px 4px #ce6be9;
        background-image: linear-gradient(black, $color1, black);
        box-shadow: 2px 2px 2px black;
        margin-top: 25px;
    }
}


.boxesProduccion{
    height: 100%;
    display: flex;
    flex-grow: row nowrap;
    justify-content: space-evenly;
    background-color: black;
}

.multimedia__boxProduccion{
    height: 100%;
    width: 300px;
    margin: 20px;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
    box-shadow: 1px 1px 10px  5px #ce6be9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../../images/index/servicio_prod.jpg);
    background-size: cover;

    ul{
        width: 100%;
        margin: 10px;

        li{
            width: 100%;
            color: white;
            font-size: 2rem;
            text-align: justify;
            margin: 5px;
            text-shadow: 1px 1px 0.5px black;
            text-align: center;
            text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
        }       
    }
}

.multimedia__boxProduccion1{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/arrebato.jpg);
}

.multimedia__boxProduccion2{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/monstruos.bmp);
}

.multimedia__boxProduccion3{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/bela.jpg);
}

.multimedia__boxProduccion4{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/sol.jpg);
}

.multimedia__boxbeat1{
    @extend .multimedia__boxProduccion;
    

}

.multimedia__boxbeat2{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/flor.jpg);

}

.multimedia__boxbeat3{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/arrebato.jpg);

}

.multimedia__boxMezcla1{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/trova.jfif);
}

.multimedia__boxMezcla2{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/arza.jfif);
}

.multimedia__boxMezcla3{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/vander2.jpg);
}

.multimedia__boxPista1{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/school.jpg);

}

.multimedia__boxPista2{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/fun.jpg);

}

.multimedia__boxPista3{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/jorobado.png);

}

.multimedia__boxCompo1{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/monstruos.bmp);
}

.multimedia__boxCompo2{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/arrebato.jpg);
}

.multimedia__boxCompo3{
    @extend .multimedia__boxProduccion;
    background-image: url(../../images/multimedia/arrebato.jpg);
}

.multimedia__boxParte1{
    @extend .multimedia__boxProduccion;
    background-image: url(../../audio/Partituras/CantarParte.png);
    height: 200px;
    background-size: cover;
    
        
        &:hover {
            width: 50%;
            height: 400px;
            background-attachment: scroll;
            transition: 0.3s;
                ul li{
                    display: none;
                }
        }

}

.multimedia__boxParte2{
    @extend .multimedia__boxProduccion;
    background-image: url(../../audio/Partituras/feParte.png);
    height: 200px;
    background-size: cover;
    
        
        &:hover {
            width: 50%;
            height: 400px;
            background-attachment: scroll;
            transition: 0.3s;
                ul li{
                    display: none;
                }
        }
}

.multimedia__boxParte3{
    @extend .multimedia__boxProduccion;
    background-image: url(../../audio/Partituras/VocacionParte.png);
    height: 200px;
    background-size: cover;
        &:hover {
            width: 50%;
            height: 400px;
            background-attachment: scroll;
            transition: all 0.3s;
            
                ul li{
                    display: none;
                }
        }
}

.imgBoxMultimedia{
    margin-top: 20px;
    border-radius: 15px;
}

.audioControls{
    width: 90%;
    margin: 10px;
}

.cosas{
    margin-top: 50px;
}


/**Fin MULTIMEDIA**/
