

/**Comienza BIOGRAFIA**/

/**EXTENDS**/

.textoBio{
    color: white;
    font-size: 2rem;
    margin: 20px;
    text-align: justify;
    text-shadow: 2px 2px 2px black;
}


.contenedor__biografia{
    height: 100vh;
    display: flex;
    flex-direction: column;

    h4{
        @extend .textoBio;
        text-decoration: underline;
        text-align: center;
    }

}

.pBio{
        @extend .textoBio;
}

.contenedor__biografia iframe{
    margin: 10px;
}

.biografia__texto{
    color: white;
    font-size: 2rem;
    margin: 20px;
    text-align: justify;
}

.div__multimedia0{
    display: flex;
    flex-direction: row;
    height: 400px;

    img{
        width: 30%;
        border-radius:15px;
        padding: 5px; 
        backdrop-filter: blur(10px);
    }

    iframe{
        border-radius: 15px;
    }

}

.div__multimedia1{
    display: flex;
    flex-direction: row;
    height: 400px;

    img{
        width: 30%;
        border-radius:15px;
        padding: 5px; 
        backdrop-filter: blur(10px);
    }

    iframe{
        border-radius: 15px;
    }

}

.div_videoBio{
    @extend .flexrow;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.videoBio{
    border-radius: 15px;

}

.div__multimedia2{
    display: flex;
    flex-direction: row;

    img{
        width: 40%;
        border-radius:15px;
        padding: 5px; 
        backdrop-filter: blur(10px);
    }
}

.bio__premios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li{
        @extend .textoBio;
        font-size: 2rem;
        text-align: center;

    }
}

/**Fin BIOGRAFIA**/

