/**Comienza CONTACTO**/

$colorContacto:#e27bff;


.contenedor__contacto{
    height: 100vh;
    background-color: #460258;
    background-image: url(../images/index/fondo2.jpg);
    background-repeat: repeat;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
}

.section__formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section__formulario p{
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    background-color: #380247;
    padding: 10px;
    position: relative;
    text-shadow: 3px 3px 0 black;
}


.fieldset{
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 13px;
    border: none;
    box-shadow: 2px 2px 8px 8px #ce6be9;
    color: white;
    background-image: linear-gradient(45deg,#460258, black);

    
}

.legend__formulario{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: solid;
    text-shadow: 3px 3px 3px #460258;
}

.div__formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

}


.div__formulario label{
    font-size: 1.8rem;
    padding: 5px;
    display: block;

}

.div__formulario input{
    background-color: #e27bff;
    padding: 5px;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-radius: 10px;
}

.formulario__sexo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    font-size: 1.2rem;

    input{
        margin: 5px;
    }
}

.select {
    background-color: $colorContacto;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 5px;
    border-radius: 10px;


}


.consulta__textarea{
    margin-top: 20px;
    height: 100px;
    background-color: $colorContacto;
    color: white;
    border-radius: 10px;
}

.consulta__botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    input{
        margin: 20px ;
        padding: 15px;
        border-radius: 10px;
        font-size: 1.5rem;
        text-transform: uppercase;
        

        &:hover{
            background-color: white;
            color: black;
            transition: 0.5s;
            text-shadow: 1px 1px 2px black;
        }
    }
}



/**Fin CONTACTO**/